.Container{
  
  margin: 20px;
  padding: 10px;
  min-width: 250px;
  
}

.Container p{
  font-weight: 590;
  margin: 10px 20px;
  border: 2.5px solid black;
  border-radius: 8px;
  padding: 20px 35px;
  background-color: rgb(53, 37, 24);
  color: rgb(243, 165, 165);
  text-align: center;
}